name: Lint and Check Types
on: push

jobs:
  lint-and-check-types:
    name: Lint and Check Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 'latest'
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - name: Install deps (with cache)
        run: pnpm install
      - run: pnpm eslint . --max-warnings 0
      - run: pnpm tsc
